#dataPane, #headerPane, #mainPane, #chartPane, #indicatorPane {
    -fx-background-color: linear-gradient(to left, #2b4b6e, #1d334a);
}

.combo-box, #pane {
    -fx-background-color:  linear-gradient(to left, #2f649d, #224c77);
    -fx-background-radius: 0;
}

#datePicker, #fromTimePicker, #toTimePicker{
    -fx-text-fill: #3b507b;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
}

.label, .check-box{
    -fx-text-fill: #dae5f2;
}

.text-field, #login, #time{
    -fx-background-color:  linear-gradient(to left, #2f649d, #224c77);
    -fx-background-radius: 0;
    -fx-text-fill: #dae5f2;
}

.button{
    -fx-background-color: transparent;
    -fx-text-fill: #dae5f2;
}

#enterButton{
    -fx-text-fill: white;
}

#circleLabel{
    -fx-text-fill: #e1e6f0;
    -fx-font-size: 20px;
    -fx-font-family: "Segoe UI Semibold";
}


.list-cell {
    -fx-control-inner-background: #2f649d;
    -fx-control-inner-background-alt: #2f649d;
    -fx-text-fill: #dae5f2;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
}

#devicesList{
    -fx-background-color:  linear-gradient(to left, #2f649d, #224c77);
}

.chart {
    -fx-padding: 10px;
}

.chart-vertical-grid-lines {
    -fx-stroke: #44619c;
    -fx-stroke-width: 1;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #44619c;
    -fx-stroke-width: 1;
}

.chart-plot-background, .chart-legend {
    -fx-background-color: transparent;
}

.default-color0.chart-area-symbol {
    -fx-background-color: #deaa87, #f5f5dc;
}

.default-color0.chart-series-area-line {
    -fx-stroke: #deaa87;
    -fx-effect: dropshadow(one-pass-box, #a15a2b, 1.0, 0.5, 0.5, 0.5);
}

.default-color0.chart-series-area-fill {
    -fx-fill: #f5f5dc;
    -fx-opacity: 0.5
}