#mainPane{
    -fx-background-color: linear-gradient(to bottom, #3c435c, #272c3c);
}

#dataPane, #headerPane, #chartPane, #indicatorPane{
    -fx-background-color: transparent;
}

#pane {
    -fx-background-color: #2d2f3e;
    -fx-border-color: #222433;
    -fx-border-width: 1.0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(one-pass-box, #23242f, 1.0, 1.0, 1.0, 1.0);
}

#colorPane{
    -fx-effect: dropshadow(one-pass-box, #23242f, 1.0, 1.0, 1.0, 1.0);
}

.text-field, .combo-box, .color-picker {
    -fx-background-color: #2d2f3e;
    -fx-border-color: #222433;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(one-pass-box, #23242f, 1.0, 1.0, 1.0, 1.0);
}

.color-picker {
    -fx-text-fill: #ecf0f3;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
}

.list-view{
    -fx-background-color: #2d2f3e;
}

#imageView, #nameInfoOne, #nameInfoTwo, #nameInfoThree, #nameInfoFour{
    -fx-effect: dropshadow(one-pass-box, #23242f, 1.0, 1.0, 1.0, 1.0);
}

.label, .check-box {
    -fx-text-fill: #ecf0f3;
}

#stringLabel{
    -fx-text-fill: #ecf0f3;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-effect: dropshadow(one-pass-box, #23242f, 1.0, 1.0, 1.0, 1.0);
    -fx-border-color: white;
    -fx-border-width: 3;
}

#errorLabel{
    -fx-text-fill: RED
}

#datePicker, #fromTimePicker, #toTimePicker{
    -fx-text-fill: #ecf0f3;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-effect: dropshadow(one-pass-box, #23242f, 1.0, 1.0, 1.0, 1.0);
}

.text-field, #login, #time{
    -fx-background-color: #2d2f3e;
    -fx-border-color: #222433;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-text-fill: #ecf0f3;
    -fx-effect: dropshadow(one-pass-box, #23242f, 1.0, 1.0, 1.0, 1.0);
}

#circleLabel{
    -fx-text-fill: #ecf0f3;
    -fx-font-size: 20px;
    -fx-font-family: "Segoe UI Semibold";
}

.button{
    -fx-background-color: transparent;
    -fx-text-fill: #ecf0f3;
}

#enterButton{
    -fx-text-fill: #ecf0f3;
    -fx-effect: dropshadow(one-pass-box, #23242f, 1.0, 1.0, 1.0, 1.0);
}

#okButton{
    -fx-background-color: #2d2f3e;
    -fx-text-fill: #ecf0f3;
    -fx-effect: dropshadow(one-pass-box, #23242f, 1.0, 1.0, 1.0, 1.0);
}

#refreshMenu{
    -fx-background-color: #2d2f3e;
    -fx-text-fill: #ecf0f3;
}

.list-cell {
    -fx-control-inner-background: transparent;
    -fx-control-inner-background-alt: transparent;
    -fx-text-fill: #ecf0f3;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
}

.list-cell:filled:hover, .list-cell:selected {
    -fx-background-color: #3c435c;
}

#devicesList{
    -fx-background-color:  #2d2f3e;
}


.chart {
    -fx-padding: 10px;
}

.chart-vertical-grid-lines {
    -fx-stroke: #cacdd5;
    -fx-stroke-width: 1;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #cacdd5;
    -fx-stroke-width: 1;
}

.chart-plot-background, .chart-legend {
    -fx-background-color: transparent;
}

.default-color0.chart-area-symbol {
    -fx-background-color: #5ea6ff, #4123fd;
}

.default-color0.chart-series-area-line {
    -fx-stroke: #5ea6ff;
}

.default-color0.chart-series-area-fill {
    -fx-fill: linear-gradient(to bottom, #2300fd, #8330fe);
    -fx-opacity: 0.5
}

.default-color0.chart-bar{
    -fx-background-color: #5ea6ff;
}

.default-color0.chart-series-line{
    -fx-stroke: #5ea6ff;
}

.default-color0.chart-line-symbol { -fx-background-color: #5ea6ff, #4123fd; }

.default-color0.chart-symbol {
    -fx-background-color: #5ea6ff;
}