.list-cell {
    -fx-control-inner-background: linear-gradient(to left, #e9edf5, #ced9ed);
    -fx-control-inner-background-alt: linear-gradient(to left, #e9edf5, #ced9ed);
    -fx-text-fill: #44619c;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Semibold";
}

.chart {
    -fx-padding: 10px;
}


.chart-vertical-grid-lines {
    -fx-stroke: #44619c;
    -fx-stroke-width: 1;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #44619c;
    -fx-stroke-width: 1;
}

.chart-plot-background{
    -fx-background-color: transparent;
}

.chart-legend{
    -fx-background-color: transparent;
}

.default-color0.chart-area-symbol { -fx-background-color: #deaa87, #f5f5dc; }

.default-color0.chart-series-area-line { -fx-stroke: #deaa87; -fx-effect: dropshadow(one-pass-box, #a15a2b, 1.0, 0.5, 0.5, 0.5);}

.default-color0.chart-series-area-fill { -fx-fill: #f5f5dc; -fx-opacity: 0.5 }