.list-cell {
    -fx-control-inner-background: #459cf7;
    -fx-control-inner-background-alt: #459cf7;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-effect: dropshadow(one-pass-box, #666666, 5.0, 3.0, 3.0, 3.0);
}

.chart {
    -fx-padding: 10px;
    -fx-stroke: white;
}

/*.chart-plot-background {*/
/*    -fx-background-color: white;*/
/*}*/

.chart-vertical-grid-lines {
    -fx-stroke: white;
    -fx-stroke-width: 1;
}

.chart-horizontal-grid-lines {
    -fx-stroke: white;
    -fx-stroke-width: 1;
}

.chart-plot-background{
    -fx-background-color: transparent;
}

.chart-legend{
    -fx-background-color: transparent;
}

.default-color0.chart-area-symbol { -fx-background-color: #deaa87, #f5f5dc; }

.default-color0.chart-series-area-line { -fx-stroke: #deaa87; -fx-effect: dropshadow(one-pass-box, #a15a2b, 1.0, 0.5, 0.5, 0.5);}

.default-color0.chart-series-area-fill { -fx-fill: #f5f5dc; -fx-opacity: 0.5 }